@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');


:root {
    --black: #000000
    --white: #FFFFFF
    --grey: #F2F2F2;
    --font: "Rubik";
}

* {
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #ffff;
    font-family: var(--font);
}
main{
   
}
.header-banner{
    background-color: white;
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.title-h1{
    font-family:Rubik, Helvetica, sans-serif;
    font-size: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0;
    
}
.container{
    display: flex;
    justify-content: flex-end;
    
}

.image-logo{
    width: 250px;
}

.listpuce{
    list-style: none;
    display: flex;
}

.lien{
    text-decoration: none;
}

