@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');


:root {
    --black: #000000;
    --white: #FFFFFF;
    --grey: #000000;
    --font: "Kanit";
}

* {
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #ffff;
    font-family: var(--font);
}
main{
    background-color: white;
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-banner{
    background-color: white;
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
   top: 0;
   left: 0;
}

.navbar{
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    padding: 0;
    flex-direction: column;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-logo{
    width: 250px;
}

.listpuce{
    list-style: none;
    display: flex;
    margin: 25px 5px ;
}

.lien{
    text-decoration: none;
}

.navbar .listpuce .lien{
    padding: 0 20px;
    color: var(--black);
    font-family: var(--font);
    font-weight: 300;
    cursor: pointer;
}
.list-nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;

}
.nav .list-nav .lien{
    padding: 0 20px;
    color: var(--black);
    font-weight: 500;
    font-family: var(--font);
    cursor: pointer;
}
.icon{
    padding: 0 10px;
    color: var(--black);
    font-size: 17px;
}
/* .blockquote-1{
    font-size: 20px;
    font-family: var(--font);
    font-weight: 500;
} */

.lien:hover{
    border: 2px solid var(--grey);
    border-radius: 15px;
    padding: 0;
}
.title-h1{
    font-family: var(--font);
    color: var(--black);
    font-weight: 400;
    font-size: 150px;
    font-size: 75px;
}
.p-style{
    font-weight: 200;
    font-size: 20px;
    font-family: var(--font);
    margin: 40px 0 25px 40px;
    text-align: justify;
}
.button-agence{
    text-decoration: none;
    font-family: var(--font);
    color: var(--black);
}
.button-agence:hover{
    border-bottom: 3px solid var(--black);
}
.image-section-box{
    width: 650px;
    height: auto;
    border-radius: 30px;
}
.section-expertise{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.title-h2{
    font-size: 30px;
    font-family: var(--font);
    font-weight: 400;
    margin: 0 20px;
}
.title-expertises{
    text-decoration: none;
    color: var(--black);
}
.p-style-expertises{
    font-size: 20px;
    padding: 20px;
}
.section-h2-p-style-expertises{
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    font-weight: 200;
    text-align: justify;
    padding: 20px;
    justify-content:center;
}
.button-expertises{
text-decoration: none;
background: radial-gradient(circle, rgba(245,153,193,1) 0%, rgba(162,197,237,1) 100%);
padding: 15px;
width: 25%;
text-align: center;
border-radius: 25px;
color: #FFFFFF;
font-weight: 500;
font-family: var(--font);
margin-left: 20px;
margin-top: 20px;
}

.button-expertises:hover{
    color: var(--black);
    transition: all 1s ease;
}


